body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF9EB;
}

p,
h2,
a,
h1,
h4 {
    color: #A0704C;
}

header {
    width: auto;
    padding: 20px;
    background-color: #FFF9EB;
    color: #FFF9EB;

}

.button-list {
    display: block;
    width: 115px;
    height: 25px;
    background: #A0704C;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #FFF9EB;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.button-list:hover {
    background: #8E5B42;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.block {
    background: #FFF9EB;
    border: 2px solid #A0704C;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-weight: bold;
    color: #A0704C;
}

.form-animal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #FFF9EB;
    padding: 20px;
    border: 2px solid #A0704C;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-animal label {
    color: #A0704C;
    font-weight: bold;
}

.form-animal input,
.form-animal select,
.form-animal textarea {
    padding: 10px;
    border: 1px solid #A0704C;
    border-radius: 5px;
    background-color: #FFF9EB;
    color: #A0704C;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.form-animal input:focus,
.form-animal select:focus,
.form-animal textarea:focus {
    border-color: #8E5B42;
}

.form-animal button[type="submit"] {
    background-color: #A0704C;
    color: #FFF9EB;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-animal button[type="submit"]:hover {
    background-color: #8E5B42;
}

textarea {
    resize: none;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button-blue {
    background-color: #A0704C;
    color: #FFF9EB;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-yellow {
    background-color: #FFF9EB;
    color: #A0704C;
    padding: 10px;
    border: 2px solid #A0704C;
    cursor: pointer;
    border-radius: 5px;
}

.button-green {
    background-color: #A0704C;
    color: #FFF9EB;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-red {
    background-color: #A0704C;
    color: #FFF9EB;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button {
    background-color: transparent;
    color: #A0704C;
    padding: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.animal-list,
.chat {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #FFF9EB;
    border: 1px solid #A0704C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    border: 2px solid #A0704C;
    padding: 12px;
    text-align: left;
    color: #A0704C;
}

table th {
    background-color: #A0704C;
    color: #FFF9EB;
    font-weight: bold;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #F5EDE1;
}

table tr:hover {
    background-color: #E8D5B9;
}

table td a {
    color: #A0704C;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

table td a:hover {
    color: #8E5B42;
}

th,
td {
    padding: 12px;
    text-align: left;
    color: #A0704C;
}

th {
    background-color: #FFF9EB;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #F7EAD5;
    /* Alterna a cor de fundo para linhas pares */
}

tr:hover {
    background-color: #F4E1BF;
    /* Adiciona um efeito hover */
}

/* .chat {
    background-color: #FFF9EB;
    border: 1px solid #A0704C;
}

.chat .tabs {
    display: flex;
    gap: 10px;
}

.chat .tab-content {
    border: 1px solid #A0704C;
    padding: 10px;
    display: none;
    background-color: #FFF9EB;
}

.chat .tab-content.active {
    display: block;
} */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #FFF9EB;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid #A0704C;
}

.modal-content h3 {
    text-align: center;
    color: #A0704C;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    margin-bottom: 10px;
    border: 1px solid #A0704C;
    padding: 8px;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #A0704C;
    cursor: pointer;
}

#successModal .modal-content {
    background: #FFF9EB;
    /* Exemplo de cor */
    color: #A0704C;
    /* Cor do texto */
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #A0704C;
}

#successMessage {
    font-size: 16px;
    color: #A0704C;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .buttons {
        flex-direction: column;
    }
}