body {
    background-color: #FFF9EB;

}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.frase {
    width: auto;
    height: 0;
    text-align: center;
}

.login-titulo {
    display: flex;
    color: #EFDCAE;
    justify-content: center;
    margin: 5px;
    padding-bottom: 10px;
}

.form {
    padding: 10px;
    margin-top: 50px;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background: transparent;
    background-color: #A0704C;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container {
    display: flex;
    justify-content: center;
}

.div-input {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-self: flex-end;
}

.links-container {
    margin: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#email-input {
    width: 200px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: large;
}

#senha-input {
    width: 200px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: large;
}

#submit-button {
    background-color: #FFF9EB;
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    padding-top: 2px;
}

#submit-button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5)
}

#logo {
    height: 4rem;
    width: 15rem;
}

.error-message {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}