body{
    background-color: #FFF9EB;

}


header {
    display: flex;
    justify-content: center;
    background-color: #FFF9EB;
}

.frase {
    width: auto;
    height: 0;
    text-align: center;
}

.titulo-form {
    color:  #EFDCAE;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.form {
    padding: 10px;
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background: transparent;
    background-color: #A0704C;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.div-input {
    margin: 5px;
    display: flex;
    justify-content: center;
}

#email-input {
    width: 200px;
    height: 25px;
    font-size: medium;
    margin-bottom: 8px;
    border-radius: 5px;
}

#senha-input {
    width: 200px;
    height: 25px;
    font-size: medium;
    margin-bottom: 8px;
    border-radius: 5px;
}

#nome-fantasia-input {
    width: 200px;
    height: 25px;
    font-size: medium;
    margin-bottom: 8px;
    border-radius: 5px;
}

#telefone-input {
    width: 200px;
    height: 25px;
    font-size: medium;
    margin-bottom: 8px;
    border-radius: 5px;
}

#cpf-input {
    width: 200px;
    height: 25px;
    font-size: medium;
    margin-bottom: 8px;
    border-radius: 5px;
}

#submit-button {
    background-color: #FFF9EB;
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    padding-top: 2px;
}

#submit-button:hover {
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5)
}

#logo {
    height: 4rem;
    width: 15rem;
}

.caixa-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.titulo-form {
    text-align: center;
}

.caixa-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-input {
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
