<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar senha - Amigopet</title>
    <link rel="stylesheet" href="./style/style-esquece-senha.css?v=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jomolhari&display=swap");
    </style>
  </head>

  <body>
    <header>
      <a href="../../index.php">
        <img src="./assets/logo.svg" id="logo" alt="logo amigopet" />
      </a>
    </header>
    <div class="form-container">
      <div class="form">
        <h1 class="titulo">Recuperar senha</h1>
        <h4 class="titulo">Informe o CNPJ de sua ONG</h4>
        <div class="div-input">
          <form
            action="../controllers/UsuarioOngController.php?action=recuperar_senha"
            method="POST"
          >
            <input
              type="text"
              id="cnpj-input"
              name="cnpj"
              required
              placeholder="CNPJ"
            />
            <input type="submit" id="submit-button" value="Confirmar" />
          </form>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
